openapi: 3.2.0
info:
  title: Transcend LLM Classifier API
  version: '3.2'
  description: 'Transcend''s REST API for privacy operations including data subject requests,

    preflight identifier enrichment, custom integrations, consent and preference

    management, LLM classifier, public JWT signing keys, and webhooks. Endpoints

    and base URLs derived from the official OpenAPI at

    https://docs.transcend.io/api/oas.json and the API reference at

    https://docs.transcend.io/docs/api-reference.

    '
  contact:
    name: Transcend
    url: https://docs.transcend.io/docs/api-reference
  license:
    name: Proprietary
    url: https://transcend.io/legal/terms-of-service
servers:
- url: https://api.transcend.io
  description: EU Backend (CLI default)
- url: https://api.us.transcend.io
  description: US Backend
- url: https://multi-tenant.sombra.transcend.io
  description: Multi-tenant Sombra (EU)
- url: https://multi-tenant.sombra.us.transcend.io
  description: Multi-tenant Sombra (US)
- url: https://consent.transcend.io
  description: Preference Store (Europe)
- url: https://consent.us.transcend.io
  description: Preference Store (US)
security:
- Transcend_API_Key: []
tags:
- name: LLM Classifier
  description: Text classification and Named Entity Recognition for unstructured data discovery.
paths:
  /llm/classify-text:
    post:
      tags:
      - LLM Classifier
      summary: Classify Text Using Transcend's LLM Classifier
      operationId: classifyText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassifyTextInput'
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classification'
  /classify/unstructured-text:
    post:
      tags:
      - LLM Classifier
      summary: Classify Unstructured Text For Named Entity Recognition
      operationId: classifyUnstructuredText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassifyTextInput'
      responses:
        '200':
          description: Classification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classification'
components:
  schemas:
    Classification:
      type: object
      properties:
        labels:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              score:
                type: number
                format: float
        entities:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              text:
                type: string
              start:
                type: integer
              end:
                type: integer
    ClassifyTextInput:
      type: object
      required:
      - text
      properties:
        text:
          type: string
        labels:
          type: array
          items:
            type: string
        locale:
          type: string
  securitySchemes:
    Transcend_API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key issued from the Transcend admin dashboard. Send as `Authorization: Bearer <key>`.'
